*{
margin: 0;
}

.app_header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    height: 60px;
    background: rgb(120,217,174);    
    
}

body{
    background-color: aliceblue;
}
.app_stats{
    display: flex;
    margin-top: -40px;
    
    
    justify-content: space-between;
}



@media (max-width:990px){
    .app{
        flex-direction: column;
        
    }
    .app_stats{
        display: flex !important;
        flex-direction: columns !important;
        justify-content: center;
        
        align-items: center;
    }
}


.mask{
    background-repeat: no-repeat;
    height: 60px;
     
}



.title{
        margin-right: auto;
    font-size: 27px;
    margin-top: 23px;
}

.carousel-item h6{
    font-size: 12px !important;
}