.box_cases {

    color: red;
    
    
    
}

.box_total{
    color: grey;
}

.cards{
    flex-basis:50%;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    height: auto;    
}


