.box_cases {

    color: black;
    
    
}


.box_total{
    color: black;
    font-size: 15px !important;
      
    text-align: center !important;
}


.show_cases div{
    text-align: center;
    font-size: 35px!important;
}

.show_cases div:nth-child(2){
    font-size: 20px!important;
    text-align: center !important;
}

.badge{
    vertical-align: super !important;
    height: 15px !important;
    font-size: 15px !important;
    
}


    
.cards{
    
    flex-basis: 20%;
    justify-content: space-around !important;
    align-items: stretch;
    margin: 8px;
    padding: 10px;
    height: 200px; 
    width: 250px !important;
   margin: 10px;
   margin-top: 30px;
   
         
}

.box_cases{
    font-size: 15px;
    
}

.box_title{
    font-size: 20px !important;
    text-align: center !important;

}

.box_cases {
    font-size: 10px;
}



.card_cases{
    
    border: 0.5px solid lightblue !important;
    box-shadow: 4px 3px 3px 1px  !important;
}


/* display specs for mobile and tablet */

@media (max-width:990px){
.cards {
    display: inline-flex;
   flex-basis: 50%;
    height: 200px;
    width: 150px;
    
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-content: space-around;


} 

.box_title{
    font-size: 14px !important;

}

.show_cases{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-content: center;
    justify-content: center;
}

}

.badge
{
    font-size: 10px !important;
    height: 15px;
}